.d1
{
    background-color: skyblue;
    text-align: center;
}
.d2
{
    border: 1px solid white;
    border-radius: 3%;
    background-color: white;
    margin: 200px;
    margin-top: 50px;
    
}
.name
{
    border-radius: 5%;
    border: 1px solid lightgray;
    width: 200px;
    
}